.App{
        background-color:  #f8f9f9;
        box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
        border-radius: 10px;
        .form-conteiner{
            margin-top: 25%;
            padding: 80px;
            width: 60%;
            margin-left: auto;
            margin-right: auto;
        
        
    }
}